<!DOCTYPE html>
<head>
    <style type="text/css">
        body {
            font: normal normal 14px/1.2 'Helvetica Neue', Arial, sans-serif;
        }

        .container {
            display:flex;
        }

        .left_side {
            width: 50%; 
            padding: 2px;
        }

        .right_side {
            flex-grow: 1;
            padding: 2px;
            max-width: 500px;
        }

        hr {
            margin-left:0px;
            margin-top: 28px;
            max-width:350px;
        }

        optgroup {
            color: red;
            background-color: black;
        }

        option {
           color: black;
        }

        .modify_td_key {
            text-align: right;
            font-weight: bold;
        }

        .submitButton {
            background: linear-gradient(#74bdf8,#2b82fc);
            color: white;
            padding: 4px 12px;
            min-width: 88px;
            border: none;
            font: inherit;
            border-radius: 4px;
            outline: none;
            text-decoration: none;
            cursor: default;
            font-weight: 400;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0, 0, 0, .4);
            margin-top: 4px;

            &:active {
                background: linear-gradient(#4faefc, #006bff);
                color: #fff;
                position: relative;
            }
        }

        .sessions_table {
            border-collapse: collapse;
        }

        .sessions_table thead {
            background-color: darkgray;
            font-weight: bold;
            text-align: center;
        }
        .sessions_table td {
            padding: 2px 5px 2px 5px;
            /* max-width: 120px; */
            border:1px solid black;
            overflow: hidden;
            text-align: center;
        }
        .sessions_table td.active {
            background-color: lightgreen;
        }
        .sessions_table td.not_active {
            background-color: lightcoral;
        }

        .flashes {
            background-color: aquamarine;
            padding: 1px 1px 1px 1px;
            width: 50%;
            border-radius: 10px;
        }


    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script id="rendered-js">
        $(function() {
            $('#modify_elective_assignment_sessionNumber').change(function() {
                $('#removeFromElective option').remove();
                $('#removeFromElective optgroup').remove();
                $('#addToElective option').remove();
                $('#addToElective optgroup').remove();
                $('#modify_assignment_student option:first').prop('selected', true)
            });
        });

        $(function() {
            $('#modify_assignment_student').change(function() {
                studentID = $("option:selected", $(this)).attr('value')
                targetSession = $("option:selected", $('#modify_elective_assignment_sessionNumber')).attr('value')

                if (studentID == "no_name") {
                    return
                }

                $.getJSON("/_json_/student_assignments", {"sID": studentID, "session": targetSession}, function(data) {
                    if (data['error']) {
                        alert("Error: " + data['error'])
                    }
                    else {
                        enrolled = data["enrolled"]
                        available = data["available"]

                        $('#removeFromElective option').remove();
                        $('#removeFromElective optgroup').remove();

                        $('#removeFromElective').get(0).options.add(new Option(text="No change", value="no_change"))
                        optGroup = null;
                        $.each(enrolled, function(idx) {
                            se = enrolled[idx]
                            if (optGroup == null || optGroup.label != se["day"]) {
                                optGroup = document.createElement('optgroup')
                                optGroup.label = se["day"]
                                $('#removeFromElective').get(0).options.add(optGroup)
                            }
                            $('#removeFromElective').get(0).options.add(new Option(text=se["name"] + " ("+ se["seats_left"] +" left)", value=se["id"]))
                        });

                        $('#addToElective option').remove();
                        $('#addToElective optgroup').remove();

                        $('#addToElective').get(0).options.add(new Option(text="No change", value="no_change"))
                        optGroup = null;
                        $.each(available, function(idx) {
                            se = available[idx]
                            if (optGroup == null || optGroup.label != se["day"] + ' R' + se["rotation"]) {
                                optGroup = document.createElement('optgroup')
                                optGroup.label = se["day"] + ' R' + se["rotation"]
                                $('#addToElective').get(0).options.add(optGroup)
                            }
                            $('#addToElective').get(0).options.add(new Option(text=se["name"] + " ("+ se["seats_left"] +" left)", value=se["id"]))
                        });
                    }
                });
            });
        });

        $(function() {
            $('#openStudentScheduleButton').click(function() {
                studentID = $("option:selected", $('#modify_assignment_student')).attr('value')

                if (studentID == "no_name") {
                    return
                }

                $.getJSON("/_json_/student_access_key", {"sID": studentID}, function(data) {
                    if (data['error']) {
                        alert("Error: " + data['error'])
                    }
                    else {
                        access_key = data['key']
                        url = window.location.origin + "/x/" + access_key
                        window.open(url, '_blank')
                    }
                });
            });
        });

    </script>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        <ul>
        {% for category, message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endwith %}
<div class="container">
    <div class="left_side">
        <form method=post enctype=multipart/form-data action="/_admin_">
        <input type="hidden" name="formID" value="start_session">
        <table>
            <thead>
                <td colspan="2"><strong>Please be careful here...</strong> updating this changes the active session!</td>
            </thead>
            <tbody>
                <tr>
                    <td>Current Session #</td>
                    <td>
                        <select id="sessionNumber" name="sessionNumber">
                            {% for session in sessions %}
                                <option name="{{ session.number }}" {{ "selected" if session.active }}>{{ session.number }}</option>
                            {% endfor %}
                        </select>
                    </td>    
                </tr>
                <tr>
                    <td style="vertical-align: top;" colspan="2">
                        <table class="sessions_table">
                            <thead>
                                <td>Session</td>
                                <td>Priority</td>
                                <td>Bishop/Vong</td>
                                <td>Ruiz</td>
                                <td>Paolini</td>
                            </thead>
                            <tbody>
                                {% for session in sessions %}
                                    <tr>
                                        <td class="{{ 'active' if session.active else 'not_active' }}">{{ session.number }}</td>
                                        <td><input type="checkbox" name="session_{{ session.number }}_active" value="Priority" {{ "checked" if session.Priority}}></td>
                                        <td><input type="checkbox" name="session_{{ session.number }}_active" value="Bishop" {{ "checked" if session.Bishop}}></td>
                                        <td><input type="checkbox" name="session_{{ session.number }}_active" value="Ruiz" {{ "checked" if session.Ruiz}}></td>
                                        <td><input type="checkbox" name="session_{{ session.number }}_active" value="Paolini" {{ "checked" if session.Paolini}}></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button class="submitButton" type="submit">Submit</button>
                    </td>    
                </tr>
            </tbody>
        </table>
        </form>
        <hr style="max-width:350px;margin-left:0px;">
        <p style="background-color: lightgray;">
            Generally speaking, go in the order presented here otherwise you'll probably encounter errors (some tables need data from the ones before it)
        </p>
        <p>
            <strong>Session Upload:</strong><p>
            The list of elective sessions that will be run throughout the year. Populates the <code>sessions</code> table. You only need to run this once per year.
            <p>
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type="hidden" name="formID" value="session_upload">
                <input type=file name="sessions">
                <button class="submitButton" type="submit">Upload</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>Roster Upload:</strong> Student count in database: {{ studentCount }}<p>
            The list of students that will be taking electives. Populates the <code>students</code> table. You can drop and re-upload this table if need be, 
            but it's better to just edit as needed (dropping students isn't necessary, but adding new ones will be).
            <p>
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type="hidden" name="formID" value="roster_upload">
                <input type=file name="roster">
                <button class="submitButton" type="submit">Upload</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>Elective Upload:</strong><p>
                Note: if you must re-upload electives, you have to re-upload assignments as well<br>
                (After clearing out SessionElective, Elective, and Assignment tables, in that order)
                <p>
                    The list of electives for a given session. Populates the <code>electives</code> table. You will need to upload one of these per session.
                </p>
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type="hidden" name="formID" value="elective_upload">
                Session #: <select name="sessionNumber">
                    <option name="1">1</option>
                    <option name="2">2</option>
                    <option name="3">3</option>
                    <option name="4">4</option>
                </select>
                <br>
                <input type=file name="electives">
                <button class="submitButton" type="submit">Upload</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>Specific Assignment Upload:</strong><p>
                When you need to assign students to specific classes. The file you upload here must have student names that match exactly to the roster.
                Populates the <code>assignedclasses</code> table.
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type="hidden" name="formID" value="specific_assignment">
                Session #: <select name="sessionNumber">
                    <option name="1">1</option>
                    <option name="2">2</option>
                    <option name="3">3</option>
                    <option name="4">4</option>
                </select>
                <br>
                <input type=file name="assignments">
                <button class="submitButton" type="submit">Upload</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>Priority Enrollment Upload:</strong><p>
                Students who are allowed to enroll when "priority" is selected above. The file you upload here must have student names that match 
                exactly to the roster. Populates the <code>priorityenrollment</code> table.
                <p>
                <strong>Note:</strong> uploading replaces previous entries
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type="hidden" name="formID" value="priority_assignment">
                <input type=file name="priorities">
                <button class="submitButton" type="submit">Upload</button>
            </form>
        </p>
    </div>
    <div class = "right_side">
        <p>
            <strong>Two-Session Elective Download:</strong><p>
                For the selected session, download a CSV that is formatted for upload to <code><b>Specific Assignment</b></code>.
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type = "hidden" name="formID" value="two_session_assignments">
                Session #: <select id="sessionNumber" name="sessionNumber">
                    {% for session in sessions %}
                        {% if session.number is divisibleby(2) %}
                            <option name="{{ session.number }}">{{ session.number }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
            <button class="submitButton" type="submit">Download Two-Session Assignments</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>CSV Schedules Download:</strong><p>
                CSVs of the enrolled student schedules for the current session.
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type = "hidden" name="formID" value="csv_schedules">
                <button class="submitButton" type="submit">Download Schedules</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>Enrollment Overview Download:</strong><p>
                Download a view of enrollment over the entire student body.
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type = "hidden" name="formID" value="enrollment_overview">
                <button class="submitButton" type="submit">Download Overview</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>Schedule of Electives Download:</strong><p>
                A schedule of what electives are happening when for the current session.
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type = "hidden" name="formID" value="elective_schedules">
                <input type = "checkbox" name="includeSeatsRemaining"> include seats remaining<br>
                <button class="submitButton" type="submit">Download Schedule</button>
            </form>
        </p>
        <hr style="max-width:350px;margin-left:0px;">
        <p>
            <strong>Modify Assignments:</strong><p>
                Allows you to move students around as needed. Does not take into account occupancy, so you can overload a class if you'd like.
            <form method=post enctype=multipart/form-data action="/_admin_">
                <input type = "hidden" name="formID" value="modify_elective_assignment">
                <table id="modify_elective_assignment_table">
                    <tr>
                        <td class="modify_td_key">Session:</td>
                        <td>
                            <select name="modify_elective_assignment_sessionNumber" id="modify_elective_assignment_sessionNumber">
                                <option value="current" selected>current</option>
                                <option value="1">#1</option>
                                <option value="2">#2</option>
                                <option value="3">#3</option>
                                <option value="4">#4</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="modify_td_key">Student:</td>
                        <td>
                            <select name="modify_assignment_student" id="modify_assignment_student">
                                <option value="no_name" selected disabled>Pick a student</option>
                                {% for student in students %}
                                    <option value="{{ student.id }}">{{ student.name }}</option>
                                {% endfor %}
                            </select>
                            &nbsp;&nbsp;
                            <button class="submitButton" id="openStudentScheduleButton" type="button">Open Schedule</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="modify_td_key">Add to:</td>
                        <td>
                            <select name="addToElective" id="addToElective">

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="modify_td_key">Remove from:</td>
                        <td>
                            <select name="removeFromElective" id="removeFromElective">

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <button class="submitButton" type="submit">Modify Schedule</button>
                        </td>
                    </tr>
                </table>
            </form>
        </p>
    </div>
</div>
</body>
</html>