<!DOCTYPE html>
<head>

</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form>
<table>
    <thead>
        <td colspan="2">Please be careful here... updating this changes the active session!</td>
    </thead>
    <tbody>
        <tr>
            <td>Current Session #</td>
            <td>
                <select name="sessionNumber">
                    <option name="1">1</option>
                    <option name="2">2</option>
                    <option name="3">3</option>
                    <option name="4">4</option>
                </select>
            </td>    
        </tr>
        <tr>
            <td>Class order</td>
            <td>
                <select name="classOrder">
                    <option name="P-R-V">Paolini-Ruiz-Vong</option>
                    <option name="R-V-P">Ruiz-Vong-Paolini</option>
                    <option name="V-P-R">Vong-Paolini-Ruiz</option>
                </select>
            </td>    
        </tr>
        <tr>
            <td><label for="sessionStartDate">Start date</label></td>
            <td>
                <input type="text" name="sessionStartDate" id="sessionStartDate">
            </td>    
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button class="submitButton">Submit</button>
            </td>    
        </tr>
    </tbody>
</table>
</form>
Also need places to upload student rosters<br>
Download student selections<br>
Clear/Reset database of data<br>
<p>
    <strong>Session Upload:</strong><p>
    <form method=post enctype=multipart/form-data action="/_admin_">
        <input type="hidden" name="formID" value="session_upload">
        <input type=file name="sessions">
        <input type=submit value=Upload>
    </form>
</p>
<hr style="max-width:350px;margin-left:0px;">
<p>
    <strong>Roster Upload:</strong> Student count in database: {{ studentCount }}<p>
    <form method=post enctype=multipart/form-data action="/_admin_">
        <input type="hidden" name="formID" value="roster_upload">
        <input type=file name="roster">
        <input type=submit value=Upload>
    </form>
</p>
<hr style="max-width:350px;margin-left:0px;">
<p>
    <strong>Elective Upload:</strong><p>
    <form method=post enctype=multipart/form-data action="/_admin_">
        <input type="hidden" name="formID" value="elective_upload">
        Session #: <select name="sessionNumber">
            <option name="1">1</option>
            <option name="2">2</option>
            <option name="3">3</option>
            <option name="4">4</option>
        </select>
        <br>
        <input type=file name="electives">
        <input type=submit value=Upload>
    </form>
</p>

</body>
</html>