<!DOCTYPE html>
<head>
    <style>
        body {
            font: normal normal 14px/1.2 'Helvetica Neue', Arial, sans-serif;
        }

        .userDetails {
            margin-bottom: 4px;
        }

        .inline_block_child {
            display: inline-block;
            vertical-align: top;
        }
        table {
            border-collapse: collapse;
        }
        .table_header_row {
            background-color: darkgray;
            font-weight: bold;
            text-align: center;
        }
        td, .table_row {
            padding: 2px 10px 2px 10px;
            min-width: 80px;
            /* max-width: 120px; */
            border:1px solid black;
            overflow: hidden;
        }

        .status {
            display:none;
        }

        .status .header {
            background-color: rgb(255, 85, 0);
            border-radius:4px 4px 0px 0px;
            max-width: 50px;
            margin-top: 10px;
            padding: 2px 10px 2px 16px;
            font-weight: 800;
        }
        .status .message {
            margin-bottom: 10px;
            border:2px solid rgb(255, 85, 0);
            border-radius: 0px 4px 4px 4px;
            padding:4px;
            max-width: 600px;
            background:linear-gradient(to right, rgb(255, 125, 59), rgb(255, 146, 92));
        }

        .previous_sessions {
            margin-top: 75px;
            text-align:left;
        }
        table.previous td {
            max-width: none;
        }
        
        .submitButton {
            background: linear-gradient(#74bdf8,#2b82fc);
            color: white;
            padding: 4px 12px;
            min-width: 88px;
            border: none;
            font: inherit;
            border-radius: 4px;
            outline: none;
            text-decoration: none;
            cursor: default;
            font-weight: 400;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0, 0, 0, .4);
            margin-top: 4px;

            &:active {
                background: linear-gradient(#4faefc, #006bff);
                color: #fff;
                position: relative;
            }
        }
        select {
            min-width: 100px;
        }

        .description2 {
            max-width: 600px;
            padding: 8px;
        }
        pre {
            max-width: 600px;
            overflow-y:scroll;
            white-space: pre-wrap;
            font: normal normal 14px/1.2 'Helvetica Neue', Arial, sans-serif;

        }

        img {
            float: left;
            margin: 5px;
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
        }
    </style>

    <noscript>
        <style type="text/css">
            .status {
                display:block;
            }
        </style>
    </noscript>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script id="rendered-js">
        $(function() {
            $('#classDesc2').change(function() {
                jQuery("#description2").load('/class/' + $(this).val() + '.html');
            });
        });

        $(function() {
            $("select").change(function () {
                ourID = $(this).attr('id')
                lastChar = ourID.charAt(ourID.length - 1)
                partnerID = ourID.replace(1,2) // Assume our id ends in 1
                if (lastChar == "2") { 
                    partnerID = ourID.replace(2,1)
                }
                kls = $("option:selected", this).attr('class')
                if (kls && kls == "r3_elective") {
                    tgtValue = $(this).val()
                    $('#'+ partnerID +' option[value="'+tgtValue+'"]').prop('selected', true)
                }
                else {
                    other_kls = $("option:selected", '#'+partnerID).attr('class')
                    if (other_kls && other_kls == "r3_elective") {
                        $('#'+ partnerID +' option:first').prop('selected', true)
                    }
                }
            });
        });

        $(function() {
            $('#registrationForm').on('submit', function() {
                $('#errorList').empty()
                $('#status').hide();

                PE_electives_chosen = $('select').map(function() {
                    kls = $("option:selected", this).attr('class')
                    return kls == "PE_elective" ? kls : undefined
                }).get()

                if (PE_electives_chosen.length < 3) {
                    $('#errorList').append('<li>You need at least 3 PE electives, you currently have ' + PE_electives_chosen.length + '. Look for electives with 🏈.</li>')
                    $('#status').show();
                    return false
                }

                if (PE_electives_chosen.length > 5) {
                    $('#errorList').append('<li>You can have at most 5 PE electives, you currently have ' + PE_electives_chosen.length + '. Choose different non-PE electives.</li>')
                    $('#status').show();
                    return false
                }

                sameDaysWarning = ""
                days = ["monday", "wednesday", "thursday", "friday"]
                multirotationOKClasses = ["🏈 PE"]
                days.forEach(function(day) {
                    s1 = "#"+day+"_rotation_1"
                    s2 = "#"+day+"_rotation_2"

                    s1_txt = $("option:selected", s1).text().trim().replace(/\s*\(\d+ left\)/, "")
                    s2_txt = $("option:selected", s2).text().trim().replace(/\s*\(\d+ left\)/, "")

                    // Don't carp on multi-rotation classes
                    kls = $("option:selected", s1).attr('class')
                    if (kls && kls == "r3_elective") {
                        return // jQuery's version of continue
                    }
                    else {
                        if (!multirotationOKClasses.includes(s1_txt) && s1_txt == s2_txt) {
                            if (sameDaysWarning.length == 0) {
                                sameDaysWarning = "You have the same elective picked for both rotations on the following days:\n\n"
                            }
                            sameDaysWarning += "\t" + day.charAt(0).toUpperCase() + day.slice(1) + "\n"
                        }
                    }
                });
                if (sameDaysWarning.length > 0) {
                    sameDaysWarning += "\nThis is not forbidden, but you might get a little bored doing the same elective twice in a row. Click 'cancel' to go back and make changes."
                    okWithDupes = window.confirm(sameDaysWarning)
                    if (!okWithDupes) {
                        return false
                    }
                }

                shouldSubmit = window.confirm("Are you sure these are the electives you want? Click 'OK' if they are.")
                return shouldSubmit
            });
        });

        $(function() {
            $(document).ready(function() {
                if ($('#errorList').children().length > 0) {
                    $('#status').show();
                }
            });
        });

        </script>
</head>
<body>
    <div class="userDetails">
        <div class="inline_block_child">
            <b>Name:</b> {{ student.name }}<br>
            <b>Class:</b> {{ student.teacher }}<br>
            <b>Grade:</b> {{ student.grade }}
        </div>
        <div class="inline_block_child" style="margin-left:1rem;">
            <b>Session #:</b> {{ session.number }} <br>
            <b>Dates:</b> {{ session.startDate }} - {{ session.endDate }}
        </div>
    </div>
    <div class="status" id="status">
        <div class="header">
            Notice!
        </div>
        <div class="message">
            <noscript><strong>You have javascript disabled!</strong> This box will show up even if you don't have errors... turn javascript back on!<br></noscript>
            You have errors in your form and you have not completed your submission!
            <ul id="errorList">
                {% for error in errors %}
                    <li>{{ error|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <form id="registrationForm" method="post" action="{{ url_for(request.endpoint, **request.view_args) }}">
        <div>
            <table class="table">
                <thead class="table_header_row">
                    <tr>
                        <td class="table_row"></td>
                        <td class="table_row">Monday</td>
                        <td class="table_row">Wednesday</td>
                        <td class="table_row">Thursday</td>
                        <td class="table_row">Friday</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rotation 1</td>
                        <td>
                            <select id="monday_rotation_1" name="monday_rotation_1" required>
                                {% for sessElec in mon_r1_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.monday_rotation_1 and previousForm.monday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if mon_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in mon_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}"  {{ "selected" if previousForm.monday_rotation_1 and previousForm.monday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select id="wednesday_rotation_1" name="wednesday_rotation_1" required>
                                {% for sessElec in wed_r1_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.wednesday_rotation_1 and previousForm.wednesday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if wed_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in wed_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}" {{ "selected" if previousForm.wednesday_rotation_1 and previousForm.wednesday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select id="thursday_rotation_1" name="thursday_rotation_1" required>
                                {% for sessElec in thu_r1_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.thursday_rotation_1 and previousForm.thursday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if thu_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in thu_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}" {{ "selected" if previousForm.thursday_rotation_1 and previousForm.thursday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select id="friday_rotation_1" name="friday_rotation_1" required>
                                {% for sessElec in fri_r1_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.friday_rotation_1 and previousForm.friday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if fri_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in fri_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}" {{ "selected" if previousForm.friday_rotation_1 and previousForm.friday_rotation_1|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Rotation 2</td>
                        <td>
                            <select id="monday_rotation_2" name="monday_rotation_2" required>
                                {% for sessElec in mon_r2_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.monday_rotation_2 and previousForm.monday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if mon_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in mon_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}" {{ "selected" if previousForm.monday_rotation_2 and previousForm.monday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select id="wednesday_rotation_2" name="wednesday_rotation_2" required>
                                {% for sessElec in wed_r2_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.wednesday_rotation_2 and previousForm.wednesday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if wed_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in wed_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}" {{ "selected" if previousForm.wednesday_rotation_2 and previousForm.wednesday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select id="thursday_rotation_2" name="thursday_rotation_2" required>
                                {% for sessElec in thu_r2_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.thursday_rotation_2 and previousForm.thursday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if thu_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in thu_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}" {{ "selected" if previousForm.thursday_rotation_2 and previousForm.thursday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select id="friday_rotation_2" name="friday_rotation_2" required>
                                {% for sessElec in fri_r2_electives %}
                                    <option {{ "class=PE_elective" if sessElec.elective.consideredPE }} value="{{ sessElec.id }}" {{ "selected" if previousForm.friday_rotation_2 and previousForm.friday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                        {{ "🏈" if sessElec.elective.consideredPE }} {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                    </option>
                                {% endfor %}
                                {% if fri_r3_electives|length %}
                                    <optgroup label="Both Rotations">
                                    {% for sessElec in fri_r3_electives %}
                                        <option class="r3_elective" value="{{ sessElec.id }}" {{ "selected" if previousForm.friday_rotation_2 and previousForm.friday_rotation_2|int is eq sessElec.id }} {{ "disabled" if currentEnrollment[sessElec.id]['remaining']|int <= 0 }}>
                                            {{ sessElec.elective.name }} ({{ currentEnrollment[sessElec.id]['remaining'] }} left)
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%;" style="text-align:left; border:0px;">
                            <button class="submitButton" type="submit">Submit</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>

    <div class="electiveDescriptions">
        <hr style="max-width:350px;margin-left:0px;">
        <h4>Elective Descriptions</h4>
        Find out more about a particular elective. New electives are marked with ❇️
        <div style="margin-top: 8px;">
            <select id="classDesc2">
                <option value="_instruction">Choose wisely...</option>
                {% for dict in electiveDescriptions %}
                    <option value="{{ dict.k }}">{{ "❇️" if dict.new }} {{ dict.v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="description2" id="description2"></div>
        <noscript>Elective Descriptions do not work without javacscript.</noscript>
    </div>
    <br clear="all">

    <div class="previous_sessions">
        <hr style="max-width:350px;margin-left:0px;">
        <h4>Your Previous Session Schedules</h4>

        {% if session3 %}
            {% set session_title = "Session 3" %}
            {% set previous_session = session3 %}
            {% include "schedule_table.html" %}
        {% endif %}

        {% if session2 %}
            {% set session_title = "Session 2" %}
            {% set previous_session = session2 %}
            {% include "schedule_table.html" %}
        {% endif %}

        {% if session1 %}
            {% set session_title = "Session 1" %}
            {% set previous_session = session1 %}
            {% include "schedule_table.html" %}
        {% endif %}
    </div>
</body>
</html>

